.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #a55601;
  margin: 0px auto;
  padding: 20px 0px; 
  font-weight: bold;
}

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #784004;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: rgba(67, 35, 2, 0.966); }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: rgba(67, 35, 2, 0.966); }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carousel-button {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

.modal-header {
  background-color: rgba(133, 67, 2, 0.966);
  color: floralwhite; }
  .modal-header button {
    color: floralwhite; }

.modal-body {
  background: #c18223c1; }

.modal-content {
  background-color: rgba(133, 67, 2, 0.966); }

.card-header {
  background-color: #a55601;
}
